<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>User</title>
    </head>

    <body>
        <div class="user-index">

            <% user.username%>
                <img src="/profilepics/<%=user.username%>_lg.jpg" alt="">
                <h1 href="/<%= user.username %>">
                    <%= user.name.full %>
                </h1>
                <a href="/<%= user.username %>">
                    <%=user.location%>
                </a>

        </div>
    </body>